In [5]:
stock_prices = []
with open("stock_prices.csv", "r") as f:
    for line in f:
        tokens = line.split(',')
        day = tokens[0]
        price = float(tokens[1])
        stock_prices.append([day,price])

In [6]:
stock_prices

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [7]:
for element in stock_prices:
    if element [0] == 'march 9':
        print(element[1])
        break

302.0

In [8]:
stock_prices_dict = {}
with open("stock_prices.csv", "r") as f:
    for line in f:
        tokens = line.split(',')
        day = tokens[0]
        price = float(tokens[1])
        stock_prices_dict[day] = price

In [9]:
stock_prices_dict

{'march 6': 310.0,
 'march 7': 340.0,
 'march 8': 380.0,
 'march 9': 302.0,
 'march 10': 297.0,
 'march 11': 323.0}

In [10]:
stock_prices_dict['march 9']

302.0

In [11]:
def get_hash(key):
    h = 0
    for char in key:
        h+= ord(char)
    return h % 100

In [12]:
ord('m')

109

In [13]:
for char in 'march 9':
    print(char, ord(char))

m 109
a 97
r 114
c 99
h 104
  32
9 57

In [14]:
get_hash('march 6')

9

In [9]:
class HashTable:
    def __init__(self):
        self.Max = 10
        self.arr = [[] for i in range (self.Max)]
    
    def get_hash(self,key):
        h = 0
        for char in key:
            h+= ord(char)
        return h % self.Max
    
    def input_csv(self,csv):
        with open(csv,'r') as f:
            next(f)
            for line in f:
                date , temp = line.split(',')
                self[date] = float(temp)
        
    def __setitem__(self,key,val):
        h = self.get_hash(key)
        found = False
        for idx, element in enumerate(self.arr[h]):
            if len(element) == 2 and element[0] == key:
                self.arr[h][idx] = (key,val)
                found = True
                break
        if not found:
            self.arr[h].append((key,val))
            



        
        

    def __getitem__(self,key):
        h = self.get_hash(key)
        for element in self.arr[h]:
            if element[0] ==  key:
                return element[1]
            
    def __delitem__(self,key):
        h = self.get_hash(key)
        for idx,element in enumerate(self.arr[h]):
            if element[0] ==  key:
                del self.arr[h][idx]
    
    def get_max(self):
        max = 0
        for i in range (self.Max):
            for element in self.arr[i]:
                if element[1] > max:
                    max = element[1]
        return max

In [10]:
t = HashTable()
t.input_csv('nyc_weather.csv')
t.arr

[[('Jan 9', 35.0), ('Jan 10', 30.0)],
 [],
 [('Jan 1', 27.0)],
 [('Jan 2', 31.0)],
 [('Jan 3', 23.0)],
 [('Jan 4', 34.0)],
 [('Jan 5', 37.0)],
 [('Jan 6', 38.0)],
 [('Jan 7', 29.0)],
 [('Jan 8', 30.0)]]

In [12]:
t['Jan 7']

29.0

In [13]:
del t['Jan 7']

In [14]:
t.arr

[[('Jan 9', 35.0), ('Jan 10', 30.0)],
 [],
 [('Jan 1', 27.0)],
 [('Jan 2', 31.0)],
 [('Jan 3', 23.0)],
 [('Jan 4', 34.0)],
 [('Jan 5', 37.0)],
 [('Jan 6', 38.0)],
 [],
 [('Jan 8', 30.0)]]

In [15]:
t['Jan 7'] = 24

In [18]:
t.arr

[[('march 7', 200), ('march 18', 600)],
 [('march 8', 300), ('march 19', 700)],
 [('march 9', 500)],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 6', 100), ('march 17', 400)]]

In [19]:
del t['march 6'] 
del t['march 9']
del t ['march 19']

In [20]:
t.arr

[[('march 7', 200), ('march 18', 600)],
 [('march 8', 300)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 17', 400)]]

In [43]:
nyc_table = HashTable()

In [44]:
nyc_table.input_csv('nyc_weather.csv')

In [45]:
nyc_table.arr

[[('Jan 9', 35.0), ('Jan 10', 30.0)],
 [],
 [('Jan 1', 27.0)],
 [('Jan 2', 31.0)],
 [('Jan 3', 23.0)],
 [('Jan 4', 34.0)],
 [('Jan 5', 37.0)],
 [('Jan 6', 38.0)],
 [('Jan 7', 29.0)],
 [('Jan 8', 30.0)]]

In [46]:
nyc_table.get_max()

38.0

In [47]:
nyc_table['Jan 9']

35.0

In [48]:
nyc_table['Jan 4']

34.0