In [1]:
d = {"Tom" : 1234 , "Jerry" : 5678}

In [2]:
print(type(d))

<class 'dict'>

In [3]:
d["Tom"]

1234

In [4]:
d

{'Tom': 1234, 'Jerry': 5678}

In [5]:
d.items()

dict_items([('Tom', 1234), ('Jerry', 5678)])

In [6]:
"Tom" in d

True

In [7]:
1234 in d

False

In [8]:
d.clear()

In [9]:
import matplotlib.pyplot as plt
len(dir(plt))

264

In [10]:
import calendar

In [11]:
cal = calendar.month(2016,1)

In [12]:
type(cal)

str

In [13]:
calendar.isleap(2015)

False

In [14]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

## json

In [15]:
book = {}
book['tom'] = {
    'name' : 'tom',
    'address': '1 red street, NY',
    'phone' : 98989898
}

book['bob'] = {
    'name' : 'bob',
    'address': '1 green street, NY',
    'phone' : 23232323
}

In [16]:
book

{'tom': {'name': 'tom', 'address': '1 red street, NY', 'phone': 98989898},
 'bob': {'name': 'bob', 'address': '1 green street, NY', 'phone': 23232323}}

In [17]:
import json
json.dumps(book)

'{"tom": {"name": "tom", "address": "1 red street, NY", "phone": 98989898}, "bob": {"name": "bob", "address": "1 green street, NY", "phone": 23232323}}'

In [18]:
s = json.dumps(book)

In [19]:
with open("F://Codes//book.txt",'w') as f :
    f.write(s)

In [20]:
f = open("F://Codes//book.txt",'r')

In [21]:
f

In [22]:
s = f.read()

In [23]:
s

'{"tom": {"name": "tom", "address": "1 red street, NY", "phone": 98989898}, "bob": {"name": "bob", "address": "1 green street, NY", "phone": 23232323}}'

In [24]:
book = json.loads(s)

In [25]:
book["tom"]

{'name': 'tom', 'address': '1 red street, NY', 'phone': 98989898}

In [26]:
book['bob']['address']

'1 green street, NY'

In [27]:
for person in book:
    print(book[person])

{'name': 'tom', 'address': '1 red street, NY', 'phone': 98989898}
{'name': 'bob', 'address': '1 green street, NY', 'phone': 23232323}

if__name__main

In [28]:
__name__

'__main__'

### Class

In [30]:
class Human:
    def __init__(self,n,o):
        self.name = n
        self.occupation = o

    def do_work(self):
        if self.occupation == "tennis player":
            print(self.name , "plays tennis")
        elif self.occupation == "actor":
            print(self.name , "shoots a film")
    
    def speaks(self):
        print(self.name , "says how are you?")

In [31]:
tom = Human("Tom Cruise", "actor")

In [32]:
tom.name

'Tom Cruise'

In [33]:
tom.occupation

'actor'

In [34]:
tom.speaks()

Tom Cruise says how are you?

In [36]:
tom.do_work()

Tom Cruise shoots a film

In [37]:
maria = Human("maria sharapova", "tennis player")

maria.do_work()
maria.speaks()

maria sharapova plays tennis
maria sharapova says how are you?

Exercise

In [38]:
def area(base,height):
    return base*height*1/2

In [39]:
def area(base,height , type = "triangle"):
    if type == "triangle":
        return base*height*1/2
    elif type == "rectangle":
        return base*height

In [40]:
area(10,10,"rectangle")

100

In [46]:
def print_pattern(n):
    for i in range(1,n+1):
        print("*" * i + "\n")

In [47]:
print_pattern(3)

*

**

***

In [48]:
population = {"China": 143, 
              "India": 136,
              "USA": 32,
              "Pakistan": 21}